[Unit]
Description=SPARK Farm website
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/larry/ap/sparkfarm
ExecStart=/home/larry/ap/sparkfarm/restart.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
